{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>SignIn</h1>
<form method="POST">
    {% csrf_token %}
    <!-- {% bootstrap_form form  %} -->

    <div class="form-group row">
        <div class="col-md-6">
            {% bootstrap_field form.username %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            {% bootstrap_field form.password %}
        </div>
    </div>

    <input type="submit" class="btn btn-default" value="Login">

</form>

</div>
{% endblock %}
